{% extends 'base.html' %} {% block content %}
<div class="limiter">
  <div class="">
    <div class="">
      <form class="" method="POST" action="/user/signin">
        <span class=""> Login </span>
        <div class="" data-validate="Username is required">
          <input class="" type="text" name="username" placeholder="Username" />
          <span class="focus-input100"></span>
        </div>

        <div class="" data-validate="email is required">
          <input
            class="input100"
            type="email"
            name="email"
            placeholder="email"
          />
          <span class="focus-input100"></span>
        </div>

        <div class="" data-validate="Password is required">
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Password"
          />
          <span class="focus-input100"></span>
        </div>
        <!-- <div class="flex-sb-m w-full p-t-3 p-b-24">
						<div>
							<a href="{{ url_for('register')}}" class="txt1">
								Sign Up
							</a>
						</div>
					</div> -->
        <div class="container-login100-form-btn m-t-17">
          <button class="login100-form-btn">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
