input {
	/* display: block; */
	/* width: 200px; */
	/* margin-left: 40px; */
	width: 20%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline;
	/* border: none; */
	/* background: #f1f1f1; */
}
.dark-mode {
	background-color: black;
	color: white;
}
h1 {
	text-align: center;
}
label {
	width: 200px;
	display: inline;
	margin-right: 20px;
}
.dropTargetDiv {
	border: 1px solid black;
	width: 250px;
	margin-right: 30px;
	padding: 5px;
}
.myparent {
	display: flex;
}
submit {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	margin: 20px;
	cursor: pointer;
	width: 5%;
	height: 20px;
	opacity: 0.9;
}
select {
	/* padding-bottom: 20px; */
}
